name: DevSecOps CI/CD

on:
  push:
    branches: [ main ]

jobs:
  pipeline:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Generate Semantic Version
      id: version
      uses: paulhatch/semantic-version@v5.4.0
      with:
        tag_prefix: "v"
        format: "${major}.${minor}.${patch}"

    - name: Build Docker Image
      run: |
        VERSION=${{ steps.version.outputs.version }}
        OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        echo "Building image for owner: $OWNER"
        docker build \
          -t ghcr.io/$OWNER/devsecops-app:$VERSION \
          -t ghcr.io/$OWNER/devsecops-app:latest \
          -f app/Dockerfile app/

    - name: Login to GHCR
      run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push Images
      run: |
        VERSION=${{ steps.version.outputs.version }}
        OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        docker push ghcr.io/$OWNER/devsecops-app:$VERSION
        docker push ghcr.io/$OWNER/devsecops-app:latest

    - name: Apply Kubernetes Manifests
      run: kubectl apply -f k8s/

    - name: Update Deployment Image
      run: |
        VERSION=${{ steps.version.outputs.version }}
        OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        kubectl set image deployment/devsecops-app \
          web=ghcr.io/$OWNER/devsecops-app:$VERSION
